parameters:
	ignoreErrors:
		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertSame\(\) with ''X\-API\-Key'' and ''X\-API\-Key'' will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Integration/Security/ApiKeyAuthTest.php
