<div class="navbar-search" data-controller="search">
    <input type="search" class="navbar-search-input"
           placeholder="Szukaj we wszystkich modułach…"
           aria-label="Wyszukiwanie globalne"
           autocomplete="off"
           data-search-target="input"
           data-action="input->search#search">
    <div class="navbar-search-results" data-search-target="results" hidden></div>
</div>
